<header class="bg-white shadow-md fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      <%= link_to "Турфирма", root_path %>
    </h1>

    <nav>
      <ul class="flex gap-6">
        <li class="text-gray-700 hover:text-blue-500 cursor-pointer font-medium">
          <%= link_to "Главная", root_path %>
        </li>
        <li class="text-gray-700 hover:text-blue-500 cursor-pointer font-medium">
          <%= link_to "Туры", tours_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>